<div class="row">
  <div class="span4">
      <%- model_class = Practice -%>
      <div class="page-header"  data-draggable="yes" data-droppable="screen-response">
        <h1><%=t '.title', :default => @practice.title %></h1>
      </div>
    <% @practice.moves.each do |move| %>
      <div class="alert alert-success nextMove hideMe"  data-computer= "<%= move.computer %>"><%= move.piece %> from <%= move.starting_coordinate %> to <%= move.ending_coordinate %></div>
    <% end %>
  </div>
  <div class="span8">

    <%= render('exercises/board', :@exercise => @practice )%>   
  </div>
</div>
<div id="conclusionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="descriptionModalLabel">Exercise Complete!</h3>
  </div>
  <div class="modal-body">
    neat! you are done, on to the next?
<!--     <%= @practice %> -->
  </div>

  <div class="modal-footer">
    <%= link_to "Practice Again", practice_path(@practice.id), :class => 'btn' %>
    <button class="btn" data-dismiss="modal">Stay Here</button>
    <!-- Now I need to figure out what the next "thing to go to is" -->
    <!-- get the cookie that is holding the lesson plan, split is by ",", and get the second in the array -->
    <% if cookies[:plan].split(",")[1] != nil %>
      <% viewType = cookies[:plan].split(",")[1].split(":")[0] %>
      <% viewId = cookies[:plan].split(",")[1].split(":")[1] %>
    <% else %>
      <% viewType = "" %>
    <% end %>
    <!-- find out what is next by splitting nextView -->
    <% if viewType == "Exercise" %>
      <%= link_to "Next Exercise", exercise_path(viewId), :class => 'btn btn-primary btn-large' %>
    <% elsif viewType == "Practice" %>
      <%= link_to "Practice It!", practice_path(viewId), :class => 'btn btn-primary btn-large' %>    
    <% else viewType == "" %>
      <%= link_to "Lesson Complete!", lesson_path(1), :class => 'btn btn-primary btn-large' %>    
    <% end -%>
  </div>
</div>

<!-- now i need to break up the cookie, take out the view I am on, rebuild it, and pass it back in as a cookie -->
<% newPlan = cookies[:plan].split(",") %>
<% newPlan.shift %>
<%= cookies[:plan] = newPlan.join(",") %>
<% puts cookies[:plan] %>