<%- model_class = Lesson -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="accordion" id="accordion3">
  <% @lessons.each do |lesson| %> 
  <div class="accordion-group">
    <div class="accordion-heading">
      <div class="row">
        <div class="span12 form-inline">
      
          <a class="accordion-toggle pull-left" data-toggle="collapse" data-parent="#accordion3" href="#lesson-<%= lesson.id %>">
            <%= lesson.title %>
          </a>

        </div>
      </div>
    </div>
    <div id="lesson-<%= lesson.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= lesson.description %>
        <%= render('exercises/exerciseList', :show_exercises => lesson.exercises) %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lesson_path,
            :class => 'btn btn-primary' %>
