<div class="row">
  <div class="span4">
      <%- model_class = Exercise -%>
      <div class="page-header" data-modal="yes">
        <h1><%=t '.title', :default => @exercise.title %>   <a data-toggle="modal" href="#descriptionModal" class="btn btn-mini btn-primary">...</a></h1>
          <button id="nextMove" class='btn btn-primary'>Next</button>
          <button id="prevMove" class='btn btn-primary'>Previous</button>
      </div>
<!--       <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
        <dd><%= @exercise.description %></dd>
      </dl> -->
    <% @exercise.moves.each do |move| %>
      <div class="nextMove hideMe alert alert-info" data-explaination= "<%= move.explaination %>"  data-moveNumber= "<%= move.move_number %>"><%= move.piece %> from <%= move.starting_coordinate %> to <%= move.ending_coordinate %></div>
    <% end %>
  </div>
  <div class="span8">
<!--     <div class="form-inline">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  exercises_path, :class => 'btn pull-right'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_exercise_path(@exercise), :class => 'btn pull-right' %>
      <button id="showCoordinates" class='btn btn-warning'>Coordinates</button> -->

    <%= render 'board' %>   
  </div>
</div>
<div id="descriptionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="descriptionModalLabel"><%= @exercise.title %></h3>
  </div>
  <div class="modal-body">
    <%= @exercise.description %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
<div id="conclusionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="descriptionModalLabel">Exercise Complete!</h3>
  </div>
  <div class="modal-body">
    <%= @exercise.description %>
  </div>

  <div class="modal-footer">
    <%= link_to "Start Over", exercise_path(@exercise.id), :class => 'btn' %>
    <button class="btn" data-dismiss="modal">Stay Here</button>
    <!-- Now I need to figure out what the next "thing to go to is" -->
    <!-- get the cookie that is holding the lesson plan, split is by ",", and get the second in the array -->
    <% if cookies[:plan] != "" %>
      <% viewType = cookies[:plan].split(",")[1].split(":")[0] %>
      <% viewId = cookies[:plan].split(",")[1].split(":")[1] %>
    <% else %>
      <% viewType = "" %>
    <% end %>
    <!-- find out what is next by splitting nextView -->
    <% if viewType == "Exercise" %>
      <%= link_to "Next Exercise", exercise_path(viewId), :class => 'btn btn-primary btn-large' %>
    <% elsif viewType == "Practice" %>
      <%= link_to "Practice It!", practice_path(viewId), :class => 'btn btn-primary btn-large' %>    
    <% else viewType == "" %>
      <%= link_to "Lesson Complete!", lesson_path(1), :class => 'btn btn-primary btn-large' %>    
    <% end -%>
  </div>
</div>

<!-- now i need to break up the cookie, take out the view I am on, rebuild it, and pass it back in as a cookie -->
<% newPlan = cookies[:plan].split(",") %>
<% newPlan.shift %>
<%= cookies[:plan] = newPlan.join(",") %>
<% puts cookies[:plan] %>


